/**/
/*
	Margin, padding, and border resets
	except for form elements
*/
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
}
/*
	Consistency fixes
	adopted from http://necolas.github.com/normalize.css/
*/
html {
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  min-height: 100%;
  font-size: 100%;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
audio,
canvas,
video {
  display: block;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
b,
strong {
  font-weight: bold;
}
abbr[title] {
  border-bottom: 1px dotted;
}
input,
textarea,
button,
select {
  margin: 0;
  font-size: 100%;
  line-height: normal;
  vertical-align: baseline;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
textarea {
  overflow: auto;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a img,
img {
  -ms-interpolation-mode: bicubic;
  border: 0;
}
body {
  font-family: "adelle", serif;
  font-size: 1em;
  line-height: 1.5em;
  margin: 0 auto;
  max-width: 43.5em;
  color: #333333;
  padding: 0 2em;
}
body > img {
  display: none !important;
}
p,
li {
  line-height: 1.8em;
}
h1,
h2,
h3 {
  padding: 1em 0;
  font-weight: normal;
  line-height: 1.3em;
}
a {
  text-decoration: none;
}
header p a,
article a,
article a:visited,
footer a,
footer a:visited {
  color: #7f1e23;
  text-decoration: underline;
}
em {
  font-style: italic;
}
header p {
  font-size: 1em;
  padding: 1.15em 0 1em 0;
  color: #aaaaaa;
}
header p a,
header p a:visited {
  color: #aaaaaa;
}
article img {
  padding: 0.5em 0;
}
article header p a {
  text-decoration: underline;
}
article h1 a,
article h1 a:visited {
  color: #000000;
}
article h1,
section h1 {
  font-size: 2.5em;
  padding: 1em 0 0.2em 0;
  border-bottom: 2px dashed #dddddd;
}
article h2,
section h2 {
  font-size: 1.7em;
  padding-bottom: 0.5em;
}
article h3,
section h3 {
  font-size: 1.4em;
  padding-bottom: 0.5em;
}
article ul,
section ul {
  padding: 0.5em 0;
}
li {
  list-style: disc;
  list-style-position: outside;
  margin-left: 2em;
  padding-bottom: 0.5em;
}
ol li {
  list-style: decimal;
}
code {
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  background-color: #f8f8f8;
  margin: 0 2px;
  padding: 0 5px;
}
pre code {
  border: 0;
  margin: 0;
  padding: 0;
}
pre {
  margin: 1em 0;
  padding: 0.5em;
  overflow: scroll;
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
code,
pre {
  font-family: Courier, monospace;
  color: #333333;
}
article img {
  max-width: 100%;
}
article > p {
  padding-bottom: 0.5em;
}
blockquote {
  color: #888;
  padding: 0 0 0 1em;
  margin: 0 0 1em 0;
  border-left: 0.3em solid #ccc;
}
img.left {
  float: left;
}
img.right {
  float: right;
}
footer {
  border-top: 2px dashed #dddddd;
  margin-top: 1em;
  float: left;
  width: 100%;
  padding-bottom: 2em;
}
#about img {
  float: right;
  padding: 0 0 0.5em 0.5em;
  margin: 0 0 0.5em 0.5em;
}
#about h1,
#projects h1 {
  margin-bottom: 0.5em;
}
#archive ul {
  padding: 0;
}
#more h1 a {
  color: #7f1e23;
  text-decoration: underline;
}
#more li,
#archive li {
  list-style: none;
  margin-left: 0;
}
#more h2 a,
#archive h2 a {
  color: #7f1e23;
  text-decoration: underline;
}
#more h2,
#archive h2 {
  padding-bottom: 0;
}
#whoami {
  padding-bottom: 2em;
}
#notfound p {
  padding-top: 1.15em;
}
/* 320px width */
@media screen and (min-width: 20em) {
  #about img {
    width: 6em;
  }
  .longlist {
    -moz-column-count: 1;
    -moz-column-gap: 1em;
    -webkit-column-count: 1;
    -webkit-column-gap: 1em;
    column-count: 1;
    column-gap: 1em;
  }
}
/* 460px */
@media screen and (min-width: 28.75em) {
  #about img {
    width: 10em;
  }
  .longlist {
    -moz-column-count: 2;
    -moz-column-gap: 1em;
    -webkit-column-count: 2;
    -webkit-column-gap: 1em;
    column-count: 2;
    column-gap: 1em;
  }
  .widelist {
    -moz-column-count: 2;
    -moz-column-gap: 1em;
    -webkit-column-count: 2;
    -webkit-column-gap: 1em;
    column-count: 2;
    column-gap: 1em;
  }
}
@media screen and (min-width: 39em) {
  footer section {
    min-width: 10em;
    float: right;
    text-align: right;
    padding-bottom: 0;
  }
  footer section:first-child {
    text-align: left;
    float: left;
    min-width: 20em;
  }
}
/* 768px */
@media screen and (min-width: 48em) {
  body {
    max-width: 43.5em;
  }
  .longlist {
    -moz-column-count: 3;
    -moz-column-gap: 1em;
    -webkit-column-count: 3;
    -webkit-column-gap: 1em;
    column-count: 3;
    column-gap: 1em;
  }
  .widelist {
    -moz-column-count: 4;
    -moz-column-gap: 1em;
    -webkit-column-count: 4;
    -webkit-column-gap: 1em;
    column-count: 4;
    column-gap: 1em;
  }
}
.highlight {
  background: #ffffff;
}
.highlight .c {
  color: #999988;
  font-style: italic;
}
/* Comment */
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}
/* Error */
.highlight .k {
  font-weight: bold;
}
/* Keyword */
.highlight .o {
  font-weight: bold;
}
/* Operator */
.highlight .cm {
  color: #999988;
  font-style: italic;
}
/* Comment.Multiline */
.highlight .cp {
  color: #999999;
  font-weight: bold;
}
/* Comment.Preproc */
.highlight .c1 {
  color: #999988;
  font-style: italic;
}
/* Comment.Single */
.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic;
}
/* Comment.Special */
.highlight .gd {
  color: #000000;
  background-color: #ffdddd;
}
/* Generic.Deleted */
.highlight .gd .x {
  color: #000000;
  background-color: #ffaaaa;
}
/* Generic.Deleted.Specific */
.highlight .ge {
  font-style: italic;
}
/* Generic.Emph */
.highlight .gr {
  color: #aa0000;
}
/* Generic.Error */
.highlight .gh {
  color: #999999;
}
/* Generic.Heading */
.highlight .gi {
  color: #000000;
  background-color: #ddffdd;
}
/* Generic.Inserted */
.highlight .gi .x {
  color: #000000;
  background-color: #aaffaa;
}
/* Generic.Inserted.Specific */
.highlight .go {
  color: #888888;
}
/* Generic.Output */
.highlight .gp {
  color: #555555;
}
/* Generic.Prompt */
.highlight .gs {
  font-weight: bold;
}
/* Generic.Strong */
.highlight .gu {
  color: #aaaaaa;
}
/* Generic.Subheading */
.highlight .gt {
  color: #aa0000;
}
/* Generic.Traceback */
.highlight .kc {
  font-weight: bold;
}
/* Keyword.Constant */
.highlight .kd {
  font-weight: bold;
}
/* Keyword.Declaration */
.highlight .kp {
  font-weight: bold;
}
/* Keyword.Pseudo */
.highlight .kr {
  font-weight: bold;
}
/* Keyword.Reserved */
.highlight .kt {
  color: #445588;
  font-weight: bold;
}
/* Keyword.Type */
.highlight .m {
  color: #009999;
}
/* Literal.Number */
.highlight .s {
  color: #dd1144;
}
/* Literal.String */
.highlight .na {
  color: #008080;
}
/* Name.Attribute */
.highlight .nb {
  color: #0086b3;
}
/* Name.Builtin */
.highlight .nc {
  color: #445588;
  font-weight: bold;
}
/* Name.Class */
.highlight .no {
  color: #008080;
}
/* Name.Constant */
.highlight .ni {
  color: #800080;
}
/* Name.Entity */
.highlight .ne {
  color: #990000;
  font-weight: bold;
}
/* Name.Exception */
.highlight .nf {
  color: #990000;
  font-weight: bold;
}
/* Name.Function */
.highlight .nn {
  color: #555555;
}
/* Name.Namespace */
.highlight .nt {
  color: #000080;
}
/* Name.Tag */
.highlight .nv {
  color: #008080;
}
/* Name.Variable */
.highlight .ow {
  font-weight: bold;
}
/* Operator.Word */
.highlight .w {
  color: #bbbbbb;
}
/* Text.Whitespace */
.highlight .mf {
  color: #009999;
}
/* Literal.Number.Float */
.highlight .mh {
  color: #009999;
}
/* Literal.Number.Hex */
.highlight .mi {
  color: #009999;
}
/* Literal.Number.Integer */
.highlight .mo {
  color: #009999;
}
/* Literal.Number.Oct */
.highlight .sb {
  color: #dd1144;
}
/* Literal.String.Backtick */
.highlight .sc {
  color: #dd1144;
}
/* Literal.String.Char */
.highlight .sd {
  color: #dd1144;
}
/* Literal.String.Doc */
.highlight .s2 {
  color: #dd1144;
}
/* Literal.String.Double */
.highlight .se {
  color: #dd1144;
}
/* Literal.String.Escape */
.highlight .sh {
  color: #dd1144;
}
/* Literal.String.Heredoc */
.highlight .si {
  color: #dd1144;
}
/* Literal.String.Interpol */
.highlight .sx {
  color: #dd1144;
}
/* Literal.String.Other */
.highlight .sr {
  color: #009926;
}
/* Literal.String.Regex */
.highlight .s1 {
  color: #dd1144;
}
/* Literal.String.Single */
.highlight .ss {
  color: #990073;
}
/* Literal.String.Symbol */
.highlight .bp {
  color: #999999;
}
/* Name.Builtin.Pseudo */
.highlight .vc {
  color: #008080;
}
/* Name.Variable.Class */
.highlight .vg {
  color: #008080;
}
/* Name.Variable.Global */
.highlight .vi {
  color: #008080;
}
/* Name.Variable.Instance */
.highlight .il {
  color: #009999;
}
/* Literal.Number.Integer.Long */
