---
layout: default
title: Miha Hribar
description: Technology consultant and CTO helping companies scale through strategic solutions. Co-Founder of Toshl Finance, 500 Startups alumni transforming personal finance.
keywords: restful, api, startup, LLMS, AI, Claude Code, Vibe Coding, mac keyboard layout
---

<section id="about">
	<h1>Hej! I'm <a href="http://miha.hribar.org" rel="author">Miha Hribar</a>.</h1>
	<img src="https://gravatar.com/userimage/3128424/6f8ecba3665119695b750c0213474017.jpeg?size=256" alt="Miha Hribar" />
	<p>I'm a dad, husband, perpetual tinkerer, and technology leader. As a consultant and CTO of <a href="https://toshl.com">Toshl Finance</a> I build solutions that matter and last, all while exploring the endless possibilities of tech.</p>
	<h3><a href="/about">About</a> →</h3>
</section>

<section id="more">
	<h2>Recent posts</h2>
	<ul>
		{% for post in site.posts limit:4 %}
		<li>
			<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
			<p>{{ post.description }}</p>
			<p class="meta"><time datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date_to_string }}</time> | <em>Category</em>: {{ post.category }}</p>
		</li>
		{% endfor %}
		<li><h3><a href="/archive">Archive</a> →</h3></li>
	</ul>
</section>

<section id="books">
	<h2>Recent books I've read</h2>
	<ul>
		{% for book in site.data.books limit:4 %}
		<li class="book-item">
			<a href="{{ book.goodreads_url }}" target="_blank">
				<img src="/images/books/{{ book.image }}" alt="{{ book.title }}" />
			</a>
		</li>
		{% endfor %}
	</ul>
	<h3><a href="/books">All books</a> →</h3>
</section>
