---
layout: default
title: Miha Hribar
description: Miha Hribar, Co-Founder and CTO of Toshl, writing about what makes him tick.
keywords: restful, api, obj-c, php, javascript, startup, css, mac keyboard layout
---

<section id="about">
	<h1>Hej! I'm <a href="http://miha.hribar.org" rel="author">Miha Hribar</a>.</h1>
</section>


<section id="more">
	<h2>Recent posts</h2>
	<ul>
		{% for post in site.posts limit:3 %}
		<li>
			<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
			<p>{{ post.description }}</p>
		</li>
		{% endfor %}
		<li><h3><a href="/archive">Archive</a> →</h3></li>
	</ul>
</section>

<section id="books">
	<h2>Recent books</h2>
	<ul>
		{% for book in site.data.books limit:3 %}
		<li class="book-item">
			<a href="{{ book.goodreads_url }}" target="_blank">
				<img src="/images/books/{{ book.image }}" alt="{{ book.title }}" />
			</a>
		</li>
		{% endfor %}
	</ul>
	<h3><a href="/books">All books</a> →</h3>
</section>
