<!DOCTYPE html>
<html>
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Miha Hribar">
   <meta name="description" content="{{ page.description }}">
   <meta name="keywords" content="{{ page.keywords }}">
   <link href="http://feeds.feedburner.com/hribarinfo" rel="alternate" title="Miha Hribar" type="application/atom+xml">
   <link rel="stylesheet" href="/css/default.css" type="text/css" media="screen, projection">
</head>
<body>

<div class="site">
  <h1>Miha Hribar</h1>
  <nav>
    <a href="/">Home</a>
	<a href="/archive.html">Archive</a>
	<a href="/about.html">About</a>
	<a href="/projects.html">Projects</a>
  </nav>
  
  {{ content }}
  
  <section class="footer">
    <p>
      &copy; Miha Hribar, 2012
    </p>
  </section>
</div>

</body>
</html>